div hello !{name}
div new poll by !{author}
div specify options for !{name} poll

//#{num}
    //script.
        $(document).ready(function() {
        for (var i=0;i<=5;i++){
        $("#test").append(p idiot);
    
        //};  
    
        //}

form(class=pollname, action='/poll_submit', method='POST')
    input(type='hidden', name= 'pollname'   value="#{name}")
    input(type='hidden', name= 'author'   value="#{author}", required, autofocus)
    - for (var i = 0; i< num; i++)
        
        input(type='text', name='opt_number'+i class='form-control', placeholder='option'+i,required, autofocus)
    button(class='btn btn-lg btn-primary btn-block', type='submit') Sign in
    


